---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="HALLO. WIR SIND DER FÖRDERKREIS"
	description="Bitte jetzt meinen Text...."
	pubDate={new Date('August 08 2021')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Der Förderkreis der Oranienschule hat derzeit über 300 engagierte Mitglieder, vor allem aus der Elternschaft, aber auch Lehrer und Ehemalige unterstützen uns mit ihren Beiträgen und Spenden.
	</p>

	<p>
		Je mehr Mittel durch Beiträge und Spenden zur Verfügung stehen, desto effektiver und flexibler kann die Oranienschule in ihrer Arbeit unterstützt werden.
		</p>

	<p>
	Werde ein Teil unserer engagierten Gemeinschaft und hilf mit, die Zukunft der Schüler:innen zu gestalten! 
	</p>

	<p>
		Wir freuen uns über jede Unterstützung!

	</p>

	
</Layout>
