---
import Layout from '../layouts/BlogPost.astro';
import { Image } from 'astro:assets';
import foerderkreis_qrcode from '../assets/images/foeqrcode.png';
---

<Layout
	title="SPENDENINFORMATION"
	description="Informationen zum Spenden für den Förderkreis der Oranienschule Wiesbaden"
	pubDate={new Date('December 19 2024')}
	heroImage={foerderkreis_qrcode.src}
	heroImageWidth={300}
	heroImageHeight={300}
>
	<p>
		Der Förderkreis der Oranienschule Wiesbaden freut sich über jede Unterstützung! 
		Mit Ihrer Spende helfen Sie uns dabei, die Schule und ihre Schüler:innen zu fördern.
	</p>

	<p>
		Sie können uns auf verschiedene Weise unterstützen:
	</p>

	<ul>
		<li><strong>Überweisung:</strong> Nutzen Sie die Bankverbindung des Förderkreises: </li>
		DE70 5105 0015 0129 0350 05
		<li><strong>QR-Code:</strong> Scannen Sie den QR-Code oben auf dieser Seite für eine direkte Überweisung</li>
		<li><strong>Mitgliedschaft:</strong> Werden Sie Mitglied im Förderkreis</li>
	</ul>

    <p>
		Für weitere Informationen oder bei Fragen zu Spenden kontaktieren Sie uns gerne über das Kontaktformular oder direkt über die Schule.
	</p>

	<p>
		<strong>Vielen Dank für Ihre Unterstützung!</strong>
	</p>
</Layout> 